<body class="d-flex h-100 text-center text-black bg-green">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Driving school</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Driving school</h1>
    <p class="lead">Здесь можно пройти тест для автошколы</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-black ">Нажми, что бы пройти</a>
    </p>
    <li *ngFor="let chapter of chapters">
      <p>{{ chapter.text }}</p>
    </li>
  </main>

  <footer class="mt-auto text-white-50">
  </footer>
</div>





</body>
